APP_NAME=bcc-payments
PUBLIC_BASE_URL=https://dionis-insurance.kz
BRAND_LOGO_URL=https://pay.dionis-insurance.kz/static/dionis-logo.png
DB_PATH=/var/www/bcc-payments/payments.db

BITRIX_BASE_URL=https://your-company.bitrix24.kz
BITRIX_USER_ID=1
BITRIX_WEBHOOK_TOKEN=replace_me

BITRIX_FIELD_PAYMENT=UF_CRM_1686311351324
BITRIX_FIELD_INVOICE=UF_CRM_1746693537945
BITRIX_FIELD_PRODUCT=UF_CRM_1686152485641
BITRIX_FIELD_POLICY_TYPE=UF_CRM_1690539097
BITRIX_FIELD_PAYMENT_URL=
BITRIX_FIELD_PAYMENT_STATUS=
BITRIX_FIELD_PAYMENT_ORDER=
BITRIX_FIELD_PAYMENT_REFUND_AMOUNT=
WEBHOOK_SECRET=

BCC_TRTYPE1_URL=https://test3ds.bcc.kz:5445/cgi-bin/cgi_link
BCC_MERCHANT=replace_me
BCC_MERCH_NAME=replace_me
BCC_TERMINAL=replace_me
BCC_MERCH_GMT=0
BCC_TRTYPE=1
BCC_LANG=ru
BCC_MK_TOKEN=MERCH
BCC_COUNTRY=KZ
BCC_BRANDS=VISA, Mastercard
BCC_BACKREF=https://dionis-insurance.kz/bcc/backref
BCC_NOTIFY_URL=https://dionis-insurance.kz/bcc/notify
BCC_MERCH_URL=https://dionis-insurance.kz
BCC_MAC_KEY_HEX=replace_me

BCC_NOTIFY_BASIC_ENABLED=false
BCC_NOTIFY_BASIC_USERNAME=
BCC_NOTIFY_BASIC_PASSWORD=
BCC_NOTIFY_BASIC_REALM=BCC Notify

PAYMENT_LINK_TTL_MINUTES=1440
BCC_MIN_TEST_AMOUNT_KZT=355
LOG_LEVEL=INFO
BANK_LOG_FILE=/var/log/bcc-payments/bcc_bank_exchange.log
BANK_LOG_MAX_BYTES=10485760
BANK_LOG_BACKUP_COUNT=10
BANK_LOG_FULL_HTTP=false
SQLITE_BUSY_TIMEOUT_MS=30000
